.header{
    font-family: 'IBM Plex Mono';
    color: #e5c3e2;
    font-size: 15px;
}

pre{
    font-family: 'IBM Plex Mono';
}

h1{
    font-family: 'IBM Plex Sans';
    font-size: 22px;
    color: #e5c3e2;
    margin-left: 3px;
}

p1{
    font-family: 'IBM Plex Sans';
    color: #e5c3e2;
    margin-left: 6px;
    padding-left: 6px;
}

code{
    font-family: IBM Plex Mono;
}

.links{
    font-family: 'IBM Plex Sans';
    color: #e5c3e2;
    text-align: center;
    justify-items: center;
}

a{
    color: 	#9494f7
}

a:hover{
    color: #94c6f7;
}

a:visited{
    color: #c694f7;
}
